QLabel {
    color: #EEEEEE;
    font-weight: 400;
    font-size: 25px;
}

QPushButton {
    background: #76ABAE;
    border: none;
    padding: 12px 15px;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
}

QPushButton::hover {
    background: #5e898b;
}

QPushButton::disabled {
    color: #182223;
    background: #3b5657;
}

#mainbackground {
    background: #121821;
}

#section {
    border-radius: 5px;
    border: 2px solid #31363F;
    background: #222831;
}

QSlider {
    height: 15px;
}

QSlider::add-page:horizontal {
    background: white;
    border-radius: 5px;
}

QSlider::sub-page:horizontal {
    background: #5e898b;
    border-radius: 5px;
}

QSlider::handle:horizontal {
    height: 10px;
    width: 10px;
    background: #76ABAE;
    border-radius: 5px;
}
QSlider::handle:horizontal:hover {
    background: #53787a;
}
