astroid==3.1.0
dill==0.3.8
ifaddr==0.2.0
isort==5.13.2
mccabe==0.7.0
platformdirs==4.2.1
pylint==3.1.0
PyQt6==6.6.1
PyQt6-Qt6==6.6.3
PyQt6-sip==13.6.0
python-osc==1.8.3
tomlkit==0.12.4
zeroconf==0.132.2
